spinner([show]="!item")
.item(*ngIf="item")
    story([story]="item")

    p([innerHTML]="item.text")

    .ul.list-unstyled
        li(*ngFor="let child of item.children")
            comment([comment]="child")
