.filter
    label.custom-control.custom-radio
        input.custom-control-input(name="sort", type="radio", value="search", [(ngModel)]="sort")
        span.custom-control-indicator
        span.custom-control-description by popularity
    label.custom-control.custom-radio
        input.custom-control-input(name="sort", type="radio", value="search_by_date", [(ngModel)]="sort")
        span.custom-control-indicator
        span.custom-control-description by date