.filter {
    padding-top: 7px;
    .custom-control-input:checked~.custom-control-indicator {
        background-color: #ff6600;
    }
    .custom-control-input:focus~.custom-control-indicator {
        box-shadow: none;
    }
}