.media
    .media-body
        a(*ngIf="story.link", target="_blank", href="{{ story.link }}") {{ story.title }}
        a(*ngIf="!story.link", [routerLink]="story.itemRoute") {{ story.title }}

        ul.list-inline
            li.list-inline-item
                i.material-icons timer
                | {{ story.created }}
            li.list-inline-item(*ngIf="story.points")
                i.material-icons favorite
                | {{ story.points }} points

            li.list-inline-item
                i.material-icons account_circle
                a([routerLink]="['/user', story.author]") {{ story.author }}

            li.list-inline-item(*ngIf="story.comment")
                i.material-icons comment
                a([routerLink]="story.itemRoute") {{ story.comment }}
            li.list-inline-item(*ngIf="story.domain")
                a.orange(target="_blank", href="{{ story.link }}") {{ story.domain }}

        p.comment(*ngIf="story.comment_text", [innerHTML]="story.comment_text")