spinner([show]="!stories")
.navigation.clearfix(*ngIf="stories")
    search.float-xs-left([search]="search", (change)="onSearch($event)")
    filter.float-xs-left([sort]="sort", (change)="onSort($event)")
    pagination.float-xs-right([page]="page", (change)="onPageChange($event)", [max]="count")

.ul.list-unstyled.stories(
    [ngClass]="{ loading : isLoading }"
)
    li(*ngFor="let story of stories; let i = index")
        story([story]="story")


p(*ngIf="stories && stories.length === 0") no stories

.navigation.clearfix(*ngIf="stories")
    pagination.float-xs-right([page]="page", (change)="onPageChange($event)", [max]="count")