.stories {
    transition: 0.5s all;
    >li {
        margin-bottom: 15px;
    }
    &.loading {
        opacity: 0.5;
    }
}

.navigation {
    margin-bottom: 25px;
    search {
        margin-right: 30px;
    }
}