.media {
    .media-left {
        display: none;
        @media (min-width: 768px) {
            display: table-cell;
        }
    }
    .media-body {
        >a {
            font-size: 14px;
            line-height: 1.2;
            display: inline-block;
            @media (min-width: 768px) {
                font-size: 16px;
            }
        }
    }
    img {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
        margin-right: 10px;
    }
    ul {
        margin-top: -8px;
    }
    li,
    li i.material-icons {
        vertical-align: middle;
    }
    li {
        font-size: 10px;
        color: #aaa;
        margin-right: 15px;
        i.material-icons {
            margin-right: 5px;
            font-size: 12px;
        }
        a:hover {
            border-bottom: 1px dotted #999;
        }
    }
    a {
        transition: 0.5s all;
        color: #333;
        &.orange {
            color: #ff6600;
        }
        &:hover {
            opacity: 0.8;
            text-decoration: none;
        }
    }
    .comment {
        margin-left: 30px;
        margin-right: 30px;
        display: block;
        padding: 5px 10px;
        background: #f5f5f5;
    }
}

.media {
    overflow: visible;
}