header: .container
    nav.navbar
        a.navbar-brand(routerLink="/hot/1")
            img(src="./assets/favicon.ico" alt="" height="36")
        
.container.main
    sidebar
    .content
        router-outlet
footer

