@media (min-width: 576px) {
    .navbar {
        border-radius: 0;
    }
}

.navbar {
    background: #eee;
}

.main {
    @media (min-width: 768px) {
        display: flex;
    }
    sidebar {
        width: 100%;
        @media (min-width: 768px) {
            background: #fafafa;
            width: 150px;
        }
    }
    sidebar,
    .content {
        padding: 15px;
    }
    .content {
        flex: 1;
    }
}

.container {
    padding: 0;
    @media (min-width: 768px) {
        padding: 0 15px;
    }
}