ul.sidebar {
    margin-bottom: -15px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    @media (min-width: 768px) {
        border: none;
    }
    li {
        margin-bottom: 20px;
        width: 25%;
        float: left;
        i.material-icons,
        span {
            text-align: center;
            display: block;
        }
        @media (min-width: 768px) {
            float: none;
            width: 100%;
            i.material-icons,
            span {
                text-align: left;
                display: inline;
            }
        }
        i.material-icons,
        span {
            margin-right: 10px;
            vertical-align: middle;
        }
        i.material-icons {
            color: #666;
        }
        span {
            color: #333;
        }
        a:hover,
        a:active,
        a.active {
            text-decoration: none;
        }
        a.active {
            i.material-icons {
                color: #ff6600;
            }
        }
    }
}