ul.sidebar.list-unstyled.clearfix([class.selected]="true")
    li(*ngFor="let nav of navs" )
        a([routerLink]="['/' + nav.tag, 1]", [class.active]="isActive(nav)")
            i.material-icons {{ nav.icon }}
            span {{ nav.tag }}
