ul {
    margin-bottom: 0;
    padding-top: 5px;
    li {
        >* {
            vertical-align: middle;
        }
        cursor: pointer;
        margin-left: 25px;
        margin-right: 0;
        user-select: none;
        &:hover,
        &:active {
            color: #ff6600;
        }
        &.inactive {
            opacity: 0.3;
        }
    }
}