ul.list-inline
  li.list-inline-item([class.inactive]="isMin", (click)="prev($event)")
    i.material-icons navigate_before
    span previous
  li.list-inline-item([class.inactive]="isMax", (click)="next($event)")
    span next
    i.material-icons navigate_next
