$size: 20px;
$size-container: $size * 3;
$perspective: 100%;
$timing: 2.5s;
$easing: cubic-bezier(0.165, 0.84, 0.44, 1);
$cube-color-darkest: #444;
$cube-color-darker: #666;
$cube-color-dark: #888;
$degree: 480deg;
@keyframes rotation {
    0% {
        transform: rotate3d(0, 0, 0);
    }
    20%,
    25% {
        transform: rotate3d(1, -1, 0, $degree);
    }
    45%,
    50% {
        transform: rotate3d(0, 0, -1, $degree);
    }
    70%,
    75% {
        transform: rotate3d(-1, -1, 0, $degree);
    }
    95%,
    100% {
        transform: rotate3d(0, 0, 0);
    }
}

.spinner {
    width: $size-container;
    height: $size-container;
    transform-origin: 50% 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    perspective: $perspective;
    transition: all 0.6s;
}

.cube {
    margin-top: $size;
    margin-left: $size;
}

.cube,
.face {
    width: $size;
    height: $size;
}

.cube {
    transform-style: preserve-3d;
    animation: rotation $timing infinite $easing;
}

.face {
    position: absolute;
}

.face-1,
.face-2 {
    background: $cube-color-darkest;
}

.face-3,
.face-4 {
    background: $cube-color-darker;
}

.face-5,
.face-6 {
    background: $cube-color-dark;
}

.face-1 {
    transform: rotateY(0deg) translateZ($size/2);
}

.face-2 {
    transform: rotateY(180deg) translateZ($size/2);
}

.face-3 {
    transform: rotateY(90deg) translateZ($size/2);
}

.face-4 {
    transform: rotateY(-90deg) translateZ($size/2);
}

.face-5 {
    transform: rotateX(-90deg) translateZ($size/2);
}

.face-6 {
    transform: rotateX(90deg) translateZ($size/2);
}