.user {
    .about {
        margin-top: 30px;
        display: block;
        background: #eee;
        padding: 15px 15px 5px 15px;
    }
    .about,
    .about * {
        font-size: 12px;
    }
}

ul.stats {
    margin: 15px 0;
    li {
        margin-right: 10px;
    }
}