.user(*ngIf="user")
    h1 {{ user.username }}
    p created {{ user.created }}, updated {{ user.updated }}

    ul.list-inline.stats
        li.list-inline-item
            .stat.rounded
                .number {{user.comment_count}}
                .label comments
        li.list-inline-item
            .stat.rounded
                .number {{user.karma}}
                .label karma
        li.list-inline-item
            .stat.rounded
                .number {{user.submission_count}}
                .label submission

