/* You can add global styles to this file, and also import other style files */

.stat {
    padding: 5px 20px 8px 10px;
    background: #333;
    .number {
        font-size: 26px;
        font-weight: bold;
        color: #ff6600;
        line-height: 26px;
    }
    .label {
        font-size: 10px;
        color: #eee;
        line-height: 10px;
    }
}

body {
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 12px;
}

p,
a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

a {
    color: #ff6600;
}