.comment {
    padding-left: 30px;
    p {
        display: block;
        background: #f5f5f5;
        padding: 5px 10px;
    }
    ul {
        margin-bottom: 0;
        >li,
        >li i.material-icons {
            vertical-align: middle;
        }
        >li {
            font-size: 10px;
            color: #aaa;
            margin-right: 15px;
            i.material-icons {
                margin-right: 5px;
                font-size: 12px;
            }
            a:hover {
                border-bottom: 1px dotted #999;
            }
        }
    }
    a {
        transition: 0.5s all;
        color: #333;
        &.orange {
            color: #ff6600;
        }
        &:hover {
            opacity: 0.8;
            text-decoration: none;
        }
    }
}