.comment(*ngIf="comment.author")
    ul.list-inline
        li.list-inline-item
            i.material-icons timer
            | {{ comment.created }}
        li.list-inline-item(*ngIf="comment.points")
            i.material-icons favorite
            | {{ comment.points }} points

        li.list-inline-item
            i.material-icons account_circle
            a([routerLink]="['/user', comment.author]") {{ comment.author }}

    p([innerHTML]="comment.text")

    .ul.list-unstyled
        li(*ngFor="let child of comment.children")
            comment([comment]="child")